* {
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
    margin: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
  min-width:100%;
  background: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  color: white;
  margin-bottom: 20px;
  justify-content: center;
}